* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}
.main-logo svg {
    width: 106px;
    height: 65px;
    display: block;
    margin: auto;
}

/* styles for become leader section */
.become-leader-section {
    color: #fff;
}

.become-leader-section-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 65%;
    margin: 0 auto;
    padding: 4rem;
}

.become-leader-section-container-1 {
    text-align: center;
}

.become-leader-section-container-3 {
    text-align: center;
}

.become-leader-section-container-3 > div {
    justify-content: center;
    display: flex;
    align-items: center;
}

.main-content > h5:hover {
    color: #f15b26;
}

.main-content > h5 svg:hover {
    color: #f15b26;
}

.button_container {
    border-radius: 1px solid #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
}

.new-btn-banner {
    border-radius: 6px;
    border: 2px solid #fff;
    color: #fff;
    padding: 0.2rem 0.9rem;
    font-size: 1.8rem;
    transition: 0.5s;
    font-weight: 500;
}
.new-btn-banner:hover {
    background: var(--btn-hover-color);
}

@media screen and (max-width: 900px) {
    .become-leader-section-container {
        width: 90%;
    }

    .svg-for-digital-expertise {
        position: relative;
        top: 4px;
    }
    .new-btn-banner {
        font-size: 28px;
    }
    .new-btn-banner {
        font-size: 28px;
    }
}

@media screen and (max-width: 495px) {
    .become-leader-section-container {
        padding: 2rem;
        width: 100%;
    }
    .new-btn-banner {
        font-size: 22px;
    }
}

/* ===========  css for navbar =========== */

.mobile-toggle-menu-lists li a {
    color: #fff;
}

/* logo */
.logo {
    margin-bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.logo {
    position: relative;
    padding: 0 1rem;
    overflow: hidden;
}
.full-block-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.logo img {
    float: none;
}
.logo img {
    float: left;
    margin-right: 15px;
}
img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.header .logo .logo-text {
    float: none;
    margin-top: 0;
    line-height: 1;
}

.logo .logo-text .logo-title {
    font-size: 27px;
    text-transform: uppercase;
    color: #2f2c2c;
}
.logo .logo-text .logo-sub-title {
    font-size: 10px;
    text-transform: uppercase;
}

@media screen and (min-width: 1385px) {
    .wd-nav-section-container {
        width: 80% !important;
    }
    .sevice-hover-expand {
        top: 180% !important;
    }
}
@media screen and (min-width: 1200px) {
    .wd-nav-section-container {
        width: 90%;
    }
    .sevice-hover-expand {
        top: 74% !important;
    }
    .wd-menu-li-row {
        gap: 5rem !important;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1264px) {
    .sevice-hover-expand {
        top: 85% !important;
    }
}
@media screen and (max-width: 1265px) {
    .sevice-hover-expand {
        top: 92%;
    }
    .wd-nav-section-container {
        flex-direction: column;
    }
    .wd-menu-li-row {
        padding: 0 1rem;
        overflow: hidden;
    }
    .wd-menu-li-co {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        overflow: hidden;
    }
}
.wd-menu-li-co {
    width: 700px;
}
@media screen and (min-width: 967px) {
    .mobile-toggle-menu {
        display: none !important;
    }
}

/* ======= css for main section start */
.topbannerF {
    width: 100%;
    position: relative;
}

.topbannerF_wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.topbannerF .topbannerF_wrapper-background,
.topbannerF video {
    background-position: center;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: -1;
    position: relative;
    top: 0;
    aspect-ratio: 1;
}

.topbannerF_bottom {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.topbannerF_btnText {
    position: relative;
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
    color: #fff;
    gap: 1rem;
}
.topbannerF_btnText-title {
    color: #fff;
}

.topbannerF_btnText > button {
    color: #fff;
    width: 220px;
}
.topbannerF_btnText > button:hover {
    color: #000;
}

@media screen and (max-width: 732px) {
    .topbannerF_btnText > button {
        width: 66%;
    }
}
@media screen and (max-width: 388px) {
    .topbannerF_btnText {
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 522px) {
    .topbannerF_btnText > h3 {
        font-size: 16px;
    }
    .topbannerF_btnText > button {
        width: 80% !important;
        padding: 8px !important;
    }
}

@media (min-width: 1200px) {
    .topbannerF {
        max-height: 800px;
        height: calc(100vh - 100px);
    }
    .topbannerF #myVideo {
        display: block !important;
    }
    .topbannerF #myVideoMobile {
        display: none !important;
    }
    .topbannerF_wrapper {
        margin: 0 0 0 0 !important;
    }
}

.topbannerF_wrapper {
    margin: 0 0 -6px 0;
}

@media (min-width: 768px) {
    .topbannerF .topbannerF_wrapper-background,
    .topbannerF video {
        aspect-ratio: auto;
    }
}

/* ======= css for main section  end*/

.imporve-tech-seo-img {
    max-width: 100%;
    width: 80%;
}
@media screen and (max-width: 966px) {
    .wd-nav-section-container {
        flex-direction: row;
    }
    .wd-menu-li-co {
        display: none !important;
    }
    .wd-num-phone {
        display: none;
    }
    .toggle-menu-mob {
        display: inline-block !important;
    }
    .imporve-tech-seo-img {
        width: 100%;
    }
}

.lets-talk-btn {
    color: #fff;
    background-color: var(--btn-bg-color);
    border-radius: 8px;
    transition: all 0.4s ease-in;
    border: 2px solid var(--border-color);
}
.re-lets-talk-btn:hover {
    color: #fff;
    background-color: var(--btn-bg-color);
    border-radius: 8px;
    transition: all 0.4s ease-in;
    border: 2px solid var(--border-color);
}

.re-lets-talk-btn {
    border: 2px solid var(--btn-bg-color);
    background-color: transparent;
    color: var(--btn-bg-color);
}
.lets-talk-btn:hover {
    border: 2px solid var(--btn-bg-color);
    background-color: transparent;
    color: var(--btn-bg-color);
}
.lets-talk-btn-bg-white:hover {
    border: 2px solid var(--btn-bg-color);
    background-color: #fff !important;
    color: var(--btn-bg-color);
}
.toggle-menu-mob {
    display: none;
}
.wd-nav-links {
    list-style: none;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2px;
}

.custom-arrow:after {
    content: "";
    display: block;
    position: absolute;
    background-size: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid var(--btn-hover-color);
    position: absolute;
    content: "";
    top: 22px;
    right: 18px;
    width: 0;
    height: 0;
    background-image: none;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s;
    cursor: pointer;
}
.toggle-up-down-sub-icon::after {
    transition: all 0.4s;
    transform: scale(-1);
}
.expand-serivce-area-mob {
    padding: 0 !important;
}
.mob-service-link-aco {
    display: inline-block;
    text-transform: uppercase;
    padding: 12px 18px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.wd-nav-link > a {
    text-transform: uppercase;
    font-size: 18px;
    color: #443f35;
    line-height: 20px;
}
.wd-nav-text:after {
    content: "";
    display: block;
    position: absolute;
    background-size: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid var(--primary-color);
    position: absolute;
    content: "";
    top: 8px;
    right: -18px;
    width: 0;
    height: 0;
    /* background-image: none; */
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}

.wd-nav-link > a:after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background: var(--primary-color);
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}

.wd-nav-link:hover > a:after {
    width: 100%;
}

.tri-ico:before {
    content: "";
    position: absolute;
    display: block;
    opacity: 1;
    overflow: visible !important;
    width: 0;
    height: 0;
    top: -12px;
    left: 35px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #443f35;
}

.sevice-hover-expand {
    z-index: 9999;
    width: 300px;
    height: auto;
    background-color: var(--primary-color);
    border-radius: 6px;
    position: absolute;
    list-style: none;
    padding: 0;
    max-height: 0;
    transition: max-height 0.4s ease-out;
    overflow: hidden;
}
.sevice-hover-expand > li {
    color: #fff;
    width: 100%;
    overflow: hidden;
}
.hover-ver2 > a {
    width: 100%;
    display: inline-block;
    color: #fff;
}
/* .sevice-hover-expand > li:not(:first-child):hover {
    background-color: #5a5346;
} */
.new-nav-hover:hover {
    background-color: #5a5346;
}
.service-has-expand:hover + .sevice-hover-expand {
    max-height: 500px;
    transition: max-height 0.4s ease-in;
}
.sevice-hover-expand:hover {
    max-height: 500px;
    transition: max-height 0.4s ease-in;
}

.megamenu-item-info-title {
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid;
    margin: 0;
}
.megamenu-item-info {
    padding: 0px !important;
}

.mobile-toggle-menu {
    position: absolute;
    background-color: var(--primary-color);
    width: 100%;
    top: 100%;
    max-height: 0;
    transition: max-height 0.4s ease-out;
    overflow: hidden;
}
.toggle-anime-mobile-menu {
    max-height: 1200px;
    transition: max-height 0.4s ease-in;
}

/*btn toggle animatin */
@media (max-width: 1023px) {
    .primary-menu-responsive.primary-menu .showhide {
        display: inline-block;
    }
}

.primary-menu .showhide {
    height: 46px;
    cursor: pointer;
    text-align: center;
    padding: 0;
    display: none;
    float: right;
    text-decoration: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    position: relative;
}
.primary-menu a {
    -webkit-transition: color 0.3s linear;
    transition: color 0.3s linear;
}
.menu-icon-wrapper {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 34px;
    pointer-events: none;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
.menu-icon-wrapper svg {
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}
.menu-icon-wrapper svg {
    position: absolute;
    top: -33px;
    left: -33px;
}

.menu-icon-wrapper svg path {
    stroke: #2f2c2c;
    stroke-width: 30px;
    stroke-linecap: round;
    fill: transparent;
}
/*btn toggle animatin */

.mobile-toggle-menu-lists {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    height: 100vh;
    overflow: auto;
}
.mobile-toggle-menu-lists > li {
    text-transform: uppercase;
    padding: 12px 18px;
    color: #fff;
    font-size: 20px;
    border-bottom: 1px solid #eeeeee85;
    font-weight: 500;
    position: relative;
}
.service-mob-menu {
    text-transform: capitalize;
    list-style: none;
    margin-bottom: 0;
    background-color: #4f709c;
    max-height: 0;
    transition: max-height 0.4s ease-out;
    overflow: hidden;
}
.sub-menu-service-btn {
    display: block;
    height: 54px;
    width: 60px;
    position: absolute;
    right: 0;
}
.toggle-anime-sub-ser {
    max-height: 500px;
    transition: max-height 0.4s ease-in;
}

.service-mob-menu > li {
    padding: 12px 0 0 0;
    font-size: 20px;
}

.service-mob-menu > li {
    padding: 10px 0;
    font-size: 18px;
}
.megamenu-mob-item-info-title {
    border-bottom: 0.7px solid #c2c2c2;
    margin-bottom: 6px;
}

/* css for digital expertise start */
.digital_expertise_border {
    border-top: 1px solid #d9d9d9;
}
.digital_expertise_content .col-lg-4 {
    /* border-right: 1px solid #d9d9d9; */
    border-left: 1px solid #d9d9d9;
    position: relative;
}
.digital_expertise_content .col-lg-4:nth-child(3n + 1) {
    border-left: 0;
}

@media screen and (max-width: 992px) {
    .digital_expertise_content .col-lg-4:last-child {
        border-right: 1px solid #d9d9d9;
    }
    .digital_expertise_content .col-lg-4:not(:first-child) {
        border-right: 1px solid #d9d9d9;
    }
    .digital_expertise_content .col-lg-4:nth-child(2) {
        border-bottom: 1px solid #d9d9d9;
    }
}
@media screen and (max-width: 768px) {
    .digital_expertise_content .col-lg-4 {
        border-right: 0 !important;
        border-left: 0;
    }
    .digital_expertise_content .col-lg-4:first-child {
        border-bottom: 1px solid #d9d9d9;
    }
}

/* css for digital expertise end */

/* =========== styles for footer start */
.haslink {
    list-style: none;
    line-height: 33px;
}
.haslink > a {
    font-weight: 500;
    color: #fff;
}
.fl-col {
    padding-right: 30px;
}
@media screen and (max-width: 330px) {
    .fl-col {
        padding-right: 15px;
    }
}
.fl-col > ul {
    padding-left: 0px !important;
}
.copyright_sec {
    color: #d3d2d1 !important;
    margin-bottom: 0px;
}
.copyright_sec a {
    color: #d3d2d1;
    font-weight: 600;
}
/* =========== styles for footer end */

/* ======== styles for contact page start */

.con-ti-ba-section {
    background: url(../assets/imgs/icons/new-compressed-header-1.jpg) no-repeat
        center bottom !important;
    background-size: cover !important;
}

.wp-contact-form div p {
    margin-bottom: 5px;
    font-weight: 500;
}
.wp-contact-form div span input,
.wp-contact-form div input {
    font-size: 16px;
    font-family: "ProximaNova-Regular", Arial;
    padding: 0 12px;
    letter-spacing: normal;
    border-radius: 5px;
    border-style: solid;
    text-align: left;
    outline: none;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    height: 40px;
    line-height: 40px;
}
.gform-textarea {
    height: 160px;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 16px;
    padding: 12px 10px;
    width: 100%;
    border-radius: 6px;
    resize: none;
    outline: none;
}
.required-ico {
    color: #ee3424 !important;
    font-weight: 700 !important;
    letter-spacing: normal;
}

.gfield_checkbox {
    list-style: none;
    padding-left: 0;
}
.gchoice {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 14px;
}
.gfield_radio {
    padding-left: 0px;
    margin-bottom: 0;
}

.gform-submit-btn {
    cursor: pointer;
    background: var(--btn-bg-color);
    font-family: "ProximaNova-Extrabld", Arial;
    font-weight: normal;
    padding: 12px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1px;
    border: 2px solid #fff !important;
    border-radius: 6px;
    font-weight: 600;
}
.gform-submit-btn:hover {
    background: var(--btn-hover-color);
}

.fl-rich-text p a {
    color: var(--primary-color);
    font-weight: 600;
}
/* styles for contact page end */

/* styles for digital marketing service page start  */
.dg-serv-container {
    width: 70%;
}
.list-bullet-align {
    padding-left: 0px;
    list-style: circle;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
/* styles for digital marketing service page end  */

/* css for case studies start */

.case-study-thumbnail {
    position: relative;
}
.case-study-thumbnail .overlay {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    opacity: 0;
    -webkit-transition: all 450ms ease;
    -moz-transition: all 450ms ease;
    -ms-transition: all 450ms ease;
    -o-transition: all 450ms ease;
    transition: all 450ms ease;
}
.portfolio-img {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.portfolio-img:hover + .overlay {
    opacity: 0.85;
}
.overlay:hover {
    opacity: 0.85;
}
.case-study-thumbnail .overlay .post-title {
    color: #fff;
}

.ca-port-option .col-12 .dropdown button,
.ca-port-option .dropdown button {
    border: 1px solid #ddd;
    color: #000;

    text-align: start;
    padding: 12px 10px;
    width: 100%;
    border-radius: 6px;
    appearance: none;
    background-color: transparent !important;
    background-size: 11px !important;
    outline: none;
}
.ca-port-option .col-12 .dropdown ul,
.ca-port-option .dropdown ul {
    width: 100%;
}
.ca-port-option .col-12 .dropdown .dropdown-toggle::after,
.ca-port-option .dropdown .dropdown-toggle::after {
    position: absolute;
    top: 50%;
    left: 88%;
}
/* css for case studies end */

/* we are market expertise section style start */
.wd-green-wrapper {
    position: relative;
}
.wd-green-wrapper::before {
    position: absolute;
    content: "";
    width: 70%;
    height: 100%;
    background: var(--primary-color);
    left: 40%;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    -webkit-appearance: discrete-capacity-level-indicator;
    appearance: discrete-capacity-level-indicator;
    display: flex;
    top: 0;
}

.ab-sev-n-img {
    position: relative;
    z-index: 9;
}
.ab-sev-n-content {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width: 992px) {
    .wd-green-wrapper::before {
        width: 100%;
        left: 0;
    }
    .wp-our-his-cotainer::after {
        height: 100% !important;
    }
}
/* we are market expertise section style end */

/* serivces gird style starts here */
.ser-gri-link {
    display: block;
    text-decoration: underline !important;
    color: var(--special-color);
    padding-top: 6px;
    text-decoration-color: var(--special-color);
}
/* serivces gird style ends here */

/* our histroy style starts here  */
.wp-our-his-cotainer {
    position: relative;
    color: #fff;
}

.wp-our-his-cotainer::after {
    position: absolute;
    content: "";
    width: 98%;
    height: 92%;
    background: var(--primary-color);
    left: 0;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    -webkit-appearance: discrete-capacity-level-indicator;
    appearance: discrete-capacity-level-indicator;
    display: flex;
    bottom: 0;
}

.wp-our-his-content-cotainer {
    position: relative;
    z-index: 999;
}

.wp-ws-his-pre {
    background: url(../assets/imgs/history-shape.svg) no-repeat;
    background-size: auto;
    height: 100vh;
    width: 100%;
    background-size: 100%;
    max-height: 200px;
    padding: 30px 20px;
    position: relative;
}

.wp-hs-nu {
    background: #fff;
    color: var(--primary-color);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-family: "ProximaNova-Extrabld", Arial;
    font-size: 15px;
    position: absolute;
    top: -20px;
    left: -20px;
}
.wp-ws-his-pre::before {
    position: absolute;
    content: "";
    border: 1px dashed #fff;
    width: 25px;
    right: -25px;
    top: 50%;
}
.wp-his-main-con .col-8 {
    padding-bottom: 4rem;
}

.wp-ws-his-pre-last::before {
    display: none !important;
}

@media screen and (max-width: 766px) {
    .wp-ws-his-pre::before {
        display: none !important;
    }
    .wp-his-main-con .col-8 {
        padding-bottom: 0px;
    }
    .wp-hs-nu {
        width: 65px;
        height: 65px;
    }
    .wp-ws-his-pre p {
        padding: 10px;
    }
}
/* our histroy style ends  here*/

/* blog page style starts here */
/* .sea-blog-con {
    background-color: #443f35;
    border: 1px solid #333;
} */

.wp-si-bl-con {
    height: auto;
}

.bl-sea-bar-input {
    font-size: 16px;
    padding: 12px 50px 12px 15px;
    width: 100%;
    color: #333;
    background: rgba(181, 191, 140, 0.5);
    border-radius: 0px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}
.bl-sea-bar-input-btn {
    font-size: 0;
    cursor: pointer;
    outline: none;
    display: block !important;
    background-image: url(../assets/imgs/icons/search-icon.svg);
    width: 34px !important;
    height: 34px;
    position: absolute;
    top: 15%;
    right: 3%;
    background-size: 21px;
    background-repeat: no-repeat;
    background-color: var(--primary-color);
    background-position: center;
    border: none !important;
    padding: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.con-ti-ba-section-ac-link a {
    color: var(--primary-color);
    transition: all 0.6s ease-in-out;
}
.con-ti-ba-section-ac-link a:hover {
    color: #573f30;
}
.border-hover-blog {
    border: 6px solid #eee;
}
.border-hover-blog:hover {
    border: 6px solid var(--primary-color);
}

.blg-cont-title a {
    color: var(--special-color);
    transition: all 0.3s ease-out;
}
.blg-cont-title a:hover {
    opacity: 0.8;
}
.blg-pos-de-info {
    color: #a6aa97;
}
/* blog page style ends here */

/* carrer page style starts here */
.wp-wy-carr-container::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 85%;
    background: var(--primary-color);
    left: 0;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    -webkit-appearance: discrete-capacity-level-indicator;
    appearance: discrete-capacity-level-indicator;
    display: flex;
    bottom: 0;
}
.wp-wy-carr-container .col-8 {
    position: relative;
    z-index: 999;
}

@media screen and (max-width: 612px) {
    .wp-wy-carr-container::after {
        height: 100%;
    }
}

/* carrer page style ends here */

/* single blog page style starts here */
.blg-sin-cont-p div p {
    margin-top: 28px;
}
.blg-sin-cont-p div p a {
    color: var(--primary-color);
    transition: all 0.4s ease-in-out;
}
.blg-sin-cont-p div p a:hover {
    color: #573f30;
}

.blg-cont-for-com-textarea {
    resize: none;
    outline: none;
    margin: 0;
    width: 100%;
    border: 1px solid #ddd;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.blg-cont-form input {
    border: 1px solid #ddd;
    font-size: 16px;
    padding: 12px 10px;
    width: 100%;
    border-radius: 6px;
    outline: none;
}

.blg-abo-auth-pic {
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    max-height: 260px;
    max-width: 260px;
}

.blg-abo-auth-pic {
    height: 260px;
    width: 260px;
}

.ban-cont-link a {
    font-size: 18px;
    font-family: "ProximaNova-Extrabld", Arial;
    padding-left: 0px;
    padding-right: 12px;
    line-height: 33px;
    padding-left: 0;
    padding-right: 12px;
    color: var(--special-color);
}
.ban-cont-link a {
    position: relative;
}
.ban-cont-link a::after {
    position: absolute;
    content: "";
    background: url(../assets/imgs/icons/contact_link_arrow.svg) no-repeat
        center;
    height: 32px;
    width: 17px;
}

/* single blog page style ends here */

/* contact us banner style starts here */
.ft-logo a.svg-logo {
    content: "";
    background: url(../assets/imgs/icons/footer-thrive-logo-new.svg) no-repeat
        center;
    width: 132px;
    height: 76px;
    display: block;
    margin-bottom: 6px;
}
.social-media li {
    background: var(--special-color);
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-size: 21px;
    height: 36px;
    margin-right: 5px;
    line-height: 36px;
    text-align: center;
    width: 36px;
    position: relative;
}

.social-media li a::before {
    content: "";
    position: absolute;
    width: 28px;
    left: 11%;
    top: 17%;
}
.social-media li.facebook a:before {
    height: 28px;
    background: url(../assets/imgs/icons/footer-sm-icon01.svg) no-repeat center;
}
.social-media li.twitter a:before {
    height: 22px;
    background: url(../assets/imgs/icons/footer-sm-icon02.svg) no-repeat center;
}

.social-media li.linkedin a:before {
    height: 22px;
    background: url(../assets/imgs/icons/footer-sm-icon03.svg) no-repeat center;
}
.social-media li.youtube a:before {
    height: 22px;
    content: "";
    background: url(../assets/imgs/icons/footer-sm-icon04.svg) no-repeat center;
}
.social-media li.instagram a:before {
    height: 22px;
    content: "";
    background: url(../assets/imgs/icons/footer-sm-icon-05.svg) no-repeat center;
}

/* contact us banner style ends here */

/* contact form component styles starts here */
.age-form-head-con {
    border: 6px solid #eee;
    border-radius: 40px;
    overflow: hidden;
}
.age-cont-ma-form input {
    border: 2px solid rgba(106, 131, 56, 0.6);
    padding: 6px 12px;
    outline: none;
    border-radius: 6px;
}
.age-cont-ma-form textarea {
    resize: none;
    border: 2px solid rgba(106, 131, 56, 0.6);
    padding: 6px 12px;
    outline: none;
    border-radius: 6px;
}
.age-con-for-get-btn {
    color: #fff;
    width: 100%;

    height: 50px;
    background: #f3861d;
    border-radius: 18px;
    position: relative;
    transition: all 0.4s ease-in-out;
    border: none;
    font-weight: 600;
    font-size: 130%;
}
.age-con-for-get-btn::after {
    content: "";
    background: url(../assets/imgs/icons/custom-svg-arrow-white.svg) no-repeat
        center;
    width: 22px;
    height: 22px;
    margin-left: 8px;
    top: 28%;
    position: absolute;
    display: inline-block;
    pointer-events: none;
}
.age-con-for-get-btn:hover {
    background: var(--btn-hover-color) !important;
}
/* contact form component styles ends here */

/* breadcrump  */
.wp-brdcb {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    position: relative;
    font-size: 14px;
    font-weight: 400;
}

.wp-brdcb:before {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid var(--special-color);
    position: absolute;
    content: "";
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    z-index: 99;
    top: auto;
    display: block !important;
}

.wp-brdcb:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -13px;
    z-index: 9;
    background-repeat: no-repeat;
    border: solid #b1b4ae;
    border-width: 0px 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 25px;
    height: 25px;
    background: none #fff;
    right: 0;
    margin: auto;
}

.wp-brdcb p {
    margin-bottom: 5px !important;
    margin-top: 0 !important;
    font-size: 14px;
    font-weight: 400;
    color: var(--special-color);
    text-transform: uppercase;
    text-align: center;
}

.wp-brdcb a:hover {
    text-decoration: underline !important;
    color: var(--primary-color);
}

.wp-brdcb .wrap {
    padding: 16px 20px 25px 16px;
    font-size: 14px;
    font-weight: 400;
}

/* tree section styles starts here */

.bg-tree-container {
    background: url(../assets/imgs/growth-bg.svg) center no-repeat;
    height: 1496px;
}
.tree-circle-box {
    color: #fff;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 69px;
    font-weight: bold;
    position: absolute;
    right: -102px;
    top: 50%;
    margin-top: -50px;
    font-family: "ProximaNova-Extrabld", Arial;
    z-index: 99;
}
.gra-box {
    background-color: #3c6295;
}
.own-box {
    background-color: #3c9279;
}
.thi-box {
    background-color: #488c40;
}

.tree-grow-con {
    top: 33%;
}
.tree-com-left-side-pare {
    padding: 0 100px 0 0;
}

.tree-com-left-side-pare .tree-com-sub {
    background-image: linear-gradient(288deg, #d9e0e9 -90%, #fff 71%);
    border-radius: 66px;
    padding: 30px 0 !important;
}
.tree-com-left-side .tree-com-sub:before {
    content: "";
    display: block;
    height: 100%;
    width: 80px;
    position: absolute;
    right: -32px;
    top: 0;
    transform: skewX(45deg);
    border-radius: 0 10px 0 0;
    max-height: 50%;
    z-index: 1;
    background: #f2f5f8;
}

.tree-com-left-side .tree-com-sub:after {
    content: "";
    display: block;
    height: 100%;
    width: 80px;
    position: absolute;
    right: -32px;
    bottom: 0;
    transform: skewX(-45deg);
    border-radius: 0 0 10px 0;
    max-height: 50%;
    z-index: 1;
    background: #f2f5f8;
}

.tree-com-sub-content {
    padding: 0 44px 0 0;
}

.z-index-for-text {
    position: relative;
    z-index: 999;
}

.tree-com-right-side-pare .tree-com-sub {
    background-image: linear-gradient(270deg, #fff 0%, #d2e1e5 105%);
    border-radius: 66px;
    padding: 30px 0 !important;
}

.tree-com-right-side .tree-com-sub::before {
    content: "";
    display: block;
    height: 100%;
    width: 80px;
    position: absolute;
    left: 44px;
    top: 0;
    transform: skewX(-45deg);
    border-radius: 10px 0 0px 0px;
    max-height: 44%;
    z-index: 0;
    background: #d9e0e9;
}

.tree-com-right-side .tree-com-sub::after {
    content: "";
    display: block;
    height: 100%;
    width: 80px;
    position: absolute;
    left: 50px;
    bottom: 0;
    transform: skewX(45deg);
    border-radius: 0 0 0 10px;
    max-height: 38%;
    z-index: 1;
    background: #d9e0e9;
}
.tree-com-right-side .tree-com-sub .tree-circle-box {
    left: -24px;
}
.tree-com-right-side {
    padding-left: 64px;
}
.tree-com-right-side-gran-pare {
    margin: 64px 0 0 0;
}

.res-box {
    background-color: #398094;
}

.wor-box {
    background-color: #3b8f50;
}
.hon-box {
    background-color: #7d963e;
}
/* tree section styles ends here */
